<aside>
  <h2 class="sr-only">Filters</h2>
  <%= form_with url: articles_path, method: :get, class: "space-y-10" do |form| %>
    <fieldset>
      <legend class="block text-sm font-medium text-gray-900">
        Category
      </legend>
      <div class="space-y-3 pt-6" data-url-target="categories">
        <% @categories.each do |cat| %>
          <div class="flex items-center">
            <%= form.check_box :categories, { multiple: true, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500 cursor-pointer" }, cat, nil %>
            <%= form.label "categories_#{cat.parameterize(separator: '_')}", cat, class: "ml-3 text-sm text-gray-600 cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <legend class="block text-sm font-medium text-gray-900">Author</legend>
      <div class="space-y-3 pt-6" data-url-target="authors">
        <% @authors.each do |author| %>
          <div class="flex items-center">
            <%= form.check_box :authors, { multiple: true, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500 cursor-pointer" }, author, nil %>
            <%= form.label "authors_#{author.parameterize(separator: '_')}", author, class: "ml-3 text-sm text-gray-600 cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </fieldset>

    <div class="mt-4 flex-none">
      <button type="submit" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Filter</button>
    </div>
  <% end %>
</aside>
