<div class="relative overflow-hidden bg-white py-24">
  <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">
    <div class="relative mx-auto h-full max-w-prose text-lg" aria-hidden="true">
      <svg class="absolute top-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
      </svg>
      <svg class="absolute top-1/2 right-full -translate-y-1/2 -translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full translate-x-32 transform" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-lg">
      <nav class="flex" aria-label="Breadcrumb">
        <ol role="list" class="flex items-center space-x-4">
          <li>
            <div>
              <%= link_to root_path, class:"text-gray-400 hover:text-gray-500" do %>
                <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Home</span>
              <% end %>
            </div>
          </li>

          <li>
            <div class="flex items-center">
              <svg class="h-5 w-5 flex-shrink-0 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
              </svg>
              <p class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700" aria-current="page">
                <%= @article.title %>
              </p>
            </div>
          </li>
        </ol>
      </nav>

      <h1 class="mt-24 mb-12 max-auto max-w-2xl text-center">
        <span class="block text-lg font-semibold text-indigo-600">
          <%= @article.category %>
        </span>
        <span class="mt-2 block text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
          <%= @article.title %>
        </span>
      </h1>

      <div class="mt-4 pl-4 border-l-2 border-indigo-600 uppercase text-xs tracking-wide">
        <p>
          Published on 
          <span class="font-bold">
            <%= @article.publication_date.strftime("%a %d, %b %Y") %>
          </span>
        </p>
        <p class="mt-1">
          By 
          <span class="font-bold">
            <%= @article.author %>
          </span>
        </p>
      </div>

    </div>

    <div class="prose prose-lg prose-indigo mx-auto mt-6 text-gray-500">
      <%= simple_format @file_content %>
    </div>

    <div class="prose prose-lg prose-indigo mx-auto mt-12">
      <section aria-labelledby="stats-title">
        <div class="bg-white shadow-xl rounded-lg">
          <div class="divide-y divide-gray-200">
            <div class="px-4 py-5 sm:px-6 bg-gray-100 flex justify-between">
              <p id="notes-title" class="text-lg font-medium text-gray-900">
                Article Statistics
              </p>
              <p>
                Total Likes: <%= @article.total_likes %>
              </p>
            </div>

            <% unless @likes.empty? %>
              <div class="flex flex-col items-center w-full max-w-screen-md p-6 pb-6 bg-white sm:p-8">
                <h2 class="text-xl font-bold">
                  Last <%= @likes.count %> Days
                </h2>
                <div class="flex items-end flex-grow w-full mt-6 space-x-2 sm:space-x-3 h-80">
                  <% @likes.each do |data| %>
                    <div class="relative flex flex-col items-center justify-end flex-grow pb-5 group h-full" style="height: <%= ((data.count / @article.max_count_to_nearest_1000) * 100).round %>%">
                      <span class="absolute top-0 -mt-6 text-xs font-bold">
                        <%= data.count %>
                      </span>
                      <div class="relative flex justify-center w-full h-full bg-indigo-400"></div>
                      <span class="absolute bottom-0 text-xs font-bold">
                          <%= data.date.strftime("%b, %e") %>
                      </span>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </section>


